<div class="right-panel col-lg-11 col-md-11">
      <!-- Categories and product section starts-->
     <div class="left-section col-lg-8 col-md-8 ">
      <div class ="order-date">
        <h2 class ="order-number">Choose Product</h2>
        <span class="date-section">current date</span>
      </div>
        <!-- Search section starts-->
        <div class="search">
        <form class="form-inline my-2 my-lg-0" id="product-search-form">
          <label></label>
          <input class="form-control mr-sm-2" id="product-search" type="search" placeholder="Enter item" aria-label="Search">
        </form>
      </div>
     
        <!-- Search section ends-->
         <!-- Categories  section starts-->
         <div class="categories-section ">
          <div class="category active col-lg-3">
           <span>Vegetables</span>
          </div>

          <div class="category col-lg-3">
            <span>Fresh fruits</span>
          </div>
          <div class="category col-lg-3">
            <span>Can food </span>
          </div>
          <div class="loadmore col-lg-3">
           <button><span>...</span></button>
          </div>
         </div>
        
         <!-- Categories  section ends-->
         <div class="product-section row" id="product-container">
         
           <!---render and search the product dynamic-->

         </div>
      </div>
       <!-- Categories and product section ends-->
        <!-- CheckOut section starts-->
      <div class="right-section  col-lg-4 col-md-4">
        
          <div class="checkout-section col-lg-12 col-md-12">
            <i class="bi bi-x"></i>

            <div class="product-display-section">
             
            <!--append the cart item--->

            </div>


           <div class="Total-price">
  <p>SubTotal <span class="subtotal">$0.00</span></p>
  <p>Tax <span class="tax">$0.00</span></p>
  <p><b>Total </b><span class="total"><b>$0.00</b></span></p>



  <button type="button" class="btn btn-secondary checkout-button" id="checkoutBtn">Check Out</button>
 
</div>

            </div>
          </div>
      </div>
       <!-- CheckOut section ends-->
    </div>
     <!--Right panel starts-->
<div id="checkout-popup" class="checkoutPopup">
   <div class="checkout-content">
     <span class="close">&times;</span>
    <h2>Checkout Order #3484</h2>
   <h1 >Amount to Pay:<b class="amount-total">  $0.00</b></h1>

<p>Cashier: Brenda</p>
<p>Paying as customer: Guest</p>

  <div class="coupon-section">
  <label for="coupon-code">coupon Code:</label>
  <input type="text" id="coupon-code" class=" form-control" placeholder="Enter your coupon code here" min="4" max="100">
   <button id="apply-coupon">Apply</button>
   </div>

<table id="checkout-table" class="table">
    <thead>
      <tr>
        <th scope="col">index</th>
        <th scope="col">Product</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>

  </tbody>
 <tfoot>
        <tr>
          <th scope="row" colspan="3">Subtotal:</th>
          <td class="product-total"><span class="checkout-subtotal"><b>$0.00</b></span></td>
        </tr>
        <tr>
          <th scope="row" colspan="3">Tax:</th>
          <td class="product-total"><span class="checkout-tax"><b>$0.00</b></span></td>
        </tr>
        
        <tr>
          <th scope="row" colspan="3">Total:</th>
          <td class="product-total"><span class="checkout-total"><b>$0.00</b></span></td>
        </tr>
         
  </tfoot>
</table>

<button type="button" class="btn btn-primary">Process payment</button>
 <button type="button" class="btn btn-light print-button">Print Receipt</button>
</div>
</div>

</div>
