<div class="right-panel col-lg-11 col-md-11">
      <!-- Categories and product section starts-->
     <div class="left-section col-lg-8 col-md-8 ">
      <div class ="order-date">
        <h2 class ="order-number">Choose Product</h2>
        <span class="date-section">current date</span>
      </div>
        <!-- Search section starts-->
        <div class="search">
          <form class="form-inline my-2 my-lg-0">
            <label></label>
            <input class="form-control mr-sm-2" type="search" placeholder="Enter item" aria-label="Search">
            
          </form>
        </div>
        <!-- Search section ends-->
         <!-- Categories  section starts-->
         <div class="categories-section ">
          <div class="category active col-lg-3">
           <span>Vegetables</span>
          </div>

          <div class="category col-lg-3">
            <span>Fresh fruits</span>
          </div>
          <div class="category col-lg-3">
            <span>Can food </span>
          </div>
          <div class="loadmore col-lg-3">
           <button><span>...</span></button>
          </div>
         </div>
        
         <!-- Categories  section ends-->
         <div class="product-section row">
            <div class="card product  col-lg-3 col-md-3" >
              <h5 class="card-title product-name">Card title</h5>
              <p class="card-text product-price">$.90</p>
          </div>

          <div class="card product  col-lg-3 col-md-3" >
              <h5 class="card-title product-name">Card title</h5>
              <p class="card-text product-price">$.90</p>
          </div>


          <div class="card product  col-lg-3 col-md-3" >
            <h5 class="card-title product-name">Card title</h5>
            <p class="card-text product-price">$.90</p>
        </div>


        <div class="card product  col-lg-3 col-md-3" >
          <h5 class="card-title product-name">Card title</h5>
          <p class="card-text product-price">$.90</p>
      </div>

      <div class="card product  col-lg-3 col-md-3" >
        <h5 class="card-title product-name">Card title</h5>
        <p class="card-text product-price">$.90</p>
    </div>


    <div class="card product  col-lg-3 col-md-3" >
      <h5 class="card-title product-name">Card title</h5>
      <p class="card-text product-price">$.90</p>
  </div>


  <div class="card product  col-lg-3 col-md-3" >
    <h5 class="card-title product-name">Card title</h5>
    <p class="card-text product-price">$.90</p>
</div>


         </div>
      </div>
       <!-- Categories and product section ends-->
        <!-- CheckOut section starts-->
      <div class="right-section  col-lg-4 col-md-4">
        
          <div class="checkout-section col-lg-12 col-md-12">
            <i class="bi bi-x"></i>

            <div class="product-display-section">
                <!--Product item section starts-->
            <div class="product-add-section">
              <div class="product-in-cart">
                <p class="product-name">Melon</p>
                <h4 class="product-price">$.90</h4>
              </div>
             
              <!-- Plus minus cart add section starts-->
                <div class="input-group">
                  <i class="bi bi-dash"></i>
                    <input type="text" class=" input-number form-control" value="1" min="1" max="100">
                    <i class="bi bi-plus"></i>
                </div>   
                
                <!-- Plus minus cart add section starts-->
             </div>
              <!--Product item section ends-->

                <!--Product item section starts-->
            <div class="product-add-section">
              <div class="product-in-cart">
                <p class="product-name">Melon</p>
                <h4 class="product-price">$.90</h4>
              </div>
             
              <!-- Plus minus cart add section starts-->
                <div class="input-group">
                  <i class="bi bi-dash"></i>
                    <input type="number" class=" input-number form-control" value="1" min="1" max="100">
                    <i class="bi bi-plus"></i>
                </div>   
                
                <!-- Plus minus cart add section starts-->
             </div>
              <!--Product item section ends-->


                <!--Product item section starts-->
            <div class="product-add-section">
              <div class="product-in-cart">
                <p class="product-name">Melon</p>
                <h4 class="product-price">$.90</h4>
              </div>
             
              <!-- Plus minus cart add section starts-->
                <div class="input-group">
                  <i class="bi bi-dash"></i>
                    <input type="number" class=" input-number form-control" value="1" min="1" max="100">
                    <i class="bi bi-plus"></i>
                </div>   
                
                <!-- Plus minus cart add section starts-->
             </div>
              <!--Product item section ends-->


               <!--Product item section starts-->
            <div class="product-add-section">
              <div class="product-in-cart">
                <p class="product-name">Melon</p>
                <h4 class="product-price">$.90</h4>
              </div>
             
              <!-- Plus minus cart add section starts-->
                <div class="input-group">
                  <i class="bi bi-dash"></i>
                    <input type="number" class=" input-number form-control" value="1" min="1" max="100">
                    <i class="bi bi-plus"></i>
                </div>   
                
                <!-- Plus minus cart add section starts-->
             </div>
              <!--Product item section ends-->

               <!--Product item section starts-->
            <div class="product-add-section">
              <div class="product-in-cart">
                <p class="product-name">Melon</p>
                <h4 class="product-price">$.90</h4>
              </div>
             
              <!-- Plus minus cart add section starts-->
                <div class="input-group">
                  <i class="bi bi-dash"></i>
                    <input type="number" class=" input-number form-control" value="1" min="1" max="100">
                    <i class="bi bi-plus"></i>
                </div>  
                <!-- Plus minus cart add section starts-->

             </div>
              <!--Product item section ends-->

              <!--Product item section starts-->
            <div class="product-add-section">
              <div class="product-in-cart">
                <p class="product-name">Melon</p>
                <h4 class="product-price">$.90</h4>
              </div>
             
              <!-- Plus minus cart add section starts-->
                <div class="input-group">
                  <i class="bi bi-dash"></i>
                    <input type="number" class=" input-number form-control" value="1" min="1" max="100">
                    <i class="bi bi-plus"></i>
                </div>  
                <!-- Plus minus cart add section starts-->
                
             </div>
              <!--Product item section ends-->

            </div>


             <div class="Total-price">
             <p>SubTotal <span>$45</span></p>
             <p>Tax <span>$2</span></p>
             <p><b>Total </b><span><b>$47</b></span></p>
             <input type="text" class="voucher form-control" value="Enter your voucher code here" min="4" max="100">
             <button type="button" class="btn btn-secondary checkout-button">Check Out</button>
             <button type="button" class="btn btn-light print-button">Print Receipt</button>

             </div>

            </div>
          </div>
      </div>
       <!-- CheckOut section ends-->
    </div>
     <!--Right panel starts-->

</div>