<div class="right-panel setting col-lg-11 col-md-11">

<div class="setting-menu setting-buttons col-lg-1 col-md-1 ">

   <button data-id="currency" class="button">Currency</button>
  <button data-id="language" class="button">Languges</button>
  <button data-id="store" class="button">Store</button>
  <button data-id="default-customer" class="button">Default Customer</button>
  <button data-id="tax-price" class="button">Price and Tax</button>

 </div>
<div class="setting-content col-lg-11 col-md-11 ">
   <!---Currency option starts-->
      <div class="panel show" id="currency">
        <h3>Choose your Currency</h3>

        <form>
        <div class="form-row align-items-center m-50">
          <div class="col-auto  col-lg-12 col-md-12 select-div">
            {{!-- <label class="col-lg-2 col-md-2 custom-select-label" for="inlineFormCustomSelect">Currency</label> --}}
            <select class="custom-select form-select col-lg-8 col-md-8" aria-label="Default select example">
              <option selected>Choose currency..</option>
              <option value="1">USD</option>
              <option value="2">EUR</option>
              <option value="3">INR</option>
            </select>
          </div>
            <div class="col-lg-2 col-md-2 ">
            <button type="submit" class="btn btn-primary update-btn">Update</button>
            </div>
          
          
        </div>
      </form>
    </div>
 <!---Currency option ends-->
 <!---Language option starts-->
 <div class="panel" id="language">
 
        <h3>Choose Your Language</h3>

        <form>
        <div class="form-row align-items-center m-50">
          <div class="col-auto  col-lg-12 col-md-12 select-div">
            {{!-- <label class="col-lg-2 col-md-2 custom-select-label" for="inlineFormCustomSelect">Currency</label> --}}
            <select class="custom-select form-select col-lg-8 col-md-8" aria-label="Default select example">
              <option selected>Choose languages..</option>
              <option value="1">En</option>
              <option value="2">Fr</option>
              <option value="3">nl</option>
            </select>
          </div>
            <div class="col-lg-2 col-md-2 ">
            <button type="submit" class="btn btn-primary update-btn">Update</button>
            </div>
          
          
        </div>
      </form>

  </div>
  <!---Language option ends-->
 <div class="panel" id="store">

        <h3>Choose Your Store</h3>

        <form>
        <div class="form-row align-items-center m-50">
          <div class="col-auto  col-lg-12 col-md-12 select-div">
            {{!-- <label class="col-lg-2 col-md-2 custom-select-label" for="inlineFormCustomSelect">Currency</label> --}}
            <select class="custom-select form-select col-lg-8 col-md-8" aria-label="Default select example">
              <option selected>Choose Store..</option>
              <option value="1">Branch 1 Name</option>
              <option value="2">Branch 2 Name</option>
              <option value="3">Branch 3 Name</option>
            </select>
          </div>
            <div class="col-lg-2 col-md-2 ">
            <button type="submit" class="btn btn-primary update-btn">Update</button>
            </div>
          
          
        </div>
      </form>

  </div>

 <div class="panel" id="default-customer">
 

        <h3>Choose Your Default POS Customer</h3>

        <form>
        <div class="form-row align-items-center m-50">
          <div class="col-auto  col-lg-12 col-md-12 select-div">
            {{!-- <label class="col-lg-2 col-md-2 custom-select-label" for="inlineFormCustomSelect">Currency</label> --}}
            <select class="custom-select form-select col-lg-8 col-md-8" aria-label="Default select example">
              <option selected>Choose default POS customer</option>
              <option value="1">Admin</option>
              <option value="2">Guest</option>
              <option value="3">Cashier</option>
            </select>
          </div>
            <div class="col-lg-2 col-md-2 ">
            <button type="submit" class="btn btn-primary update-btn">Update</button>
            </div>
          
          
        </div>
      </form>

  </div>

 <div class="panel" id="tax-price">
    <h3>Choose Your Preference</h3>

        <form>
        <div class="form-row align-items-center m-50">
          <div class="col-auto  col-lg-12 col-md-12 select-div">
            {{!-- <label class="col-lg-2 col-md-2 custom-select-label" for="inlineFormCustomSelect">Currency</label> --}}
            <select class="custom-select form-select col-lg-8 col-md-8" aria-label="Default select example">
              <option selected>Choose your Tax Preference</option>
              <option value="1">Inclusive Tax</option>
              <option value="2">Exclusive Tax</option>
            </select>
          </div>
            <div class="col-lg-2 col-md-2 ">
            <button type="submit" class="btn btn-primary update-btn">Update</button>
            </div>
          
          
        </div>
      </form>
 </div>



</div>
</div>