 <div class="right-panel col-lg-11 col-md-11">
  <div class="add-panel col-lg-4 col-md-4" id="category">
    <h3>Edit category</h3>
     {{#with category}}
    <form action="/category/add-category" method="post" enctype="multipart/form-data">

    <div class="category">

      <label class="form-label">Category Name</label>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Enter Product name"
        aria-label="product name"
        name="categoryName"
      />

     <label class="form-label">Parent Category</label>
<select
  class="custom-select form-select"
  aria-label="Default select example"
  name="parentCategory"
>
  <option value="" selected>Select Parent Category</option>
  {{#each categoryList}}
    <option value="{{this._id}}">{{this.categoryName}}</option>
  {{/each}}
</select>

      <div class="upload-image col-lg-12 col-md-12">
        <img class="col-lg-3 col-md-3" src="{{imageUrl}}" />
        <label for="inputField" class="btn btn-orange upload-btn">Upload image</label>
        <input
          class="col-lg-2 col-md-2 upload-btn"
          type="file"
          id="inputField"
          style="display:none" name="image"  accept="image/*"
        />

      </div>

      <div class="col-lg-12 col-md-12">
        <button type="submit" class="btn btn-primary btn-blue">Add new category</button>
      </div>

    </div>
        </form>
        {{/with}}
  </div>

   </div>